    <footer class="footer">
        <nav class="navbar navbar-default navbar-fixed-bottom">
          <div class="container "><!-- .container-fluid -->
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header"><!-- .navbar-header -->
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand"><img src="/images/misc/tvgs-white.png" alt="TvgScanner" class="topMenuBrand bottomMenuBrand"></a>
            </div><!-- /.navbar-header -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-2"><!-- .navbar-collapse -->
              <ul class="nav navbar-nav">
                <li ><a href="#">About<span class="sr-only">(current)</span></a></li>
                <li ><a href="#">Faq<span class="sr-only">(current)</span></a></li>
                <li ><a href="#">Informazioni generali<span class="sr-only">(current)</span></a></li>      
                <li ><a href="#">Privacy policy<span class="sr-only">(current)</span></a></li>     
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </footer>