          <div class="col-md-8 rightContent">
            <div class="col-md-12 comingSoon">
              <h2>Coming Soon on TvgScanner</h2>
              
              <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/isTrhX73q2E"></iframe>
              </div>
            </div>
            <div class="col-md-12 gifBox">
            <div class="col-md-4">
                <div class="thumbnail">
                  <img src="https://media.giphy.com/media/pS1ulPdMuUEXS/giphy.gif" alt="...">
                  <div class="caption">
                    <h3>Shining</h3>
                    <p>Regista: Stanley Kubrick
                        Sceneggiatura: Stanley Kubrick, Diane Johnson
                        Cast: Jack Nicholson, Shelley Duvall, Danny Lloyd</p>
                    <p><a href="#" class="btn btn-primary" role="button">Find More</a></p>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                  <img src="https://media.giphy.com/media/3oz8xB4euIKrurFllK/giphy.gif" alt="...">
                  <div class="caption">
                    <h3>Ace Ventura</h3>
                    <p>Regista: Tom Shadyac
                        Sceneggiatura: Jack Bernstein, Tom Shadyac, Jim Carrey
                        Cast: Jim Carrey, Courteney Cox, Sean Young</p>
                    <p><a href="#" class="btn btn-primary" role="button">Find More</a></p>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                  <img src="https://media.giphy.com/media/3o7abL1nxw0AvOK1pu/giphy.gif" alt="...">
                  <div class="caption">
                    <h3>Star Wars IV</h3>
                    <p>Regista: George Lucas
                        Sceneggiatura: George Lucas
                        Cast: Mark Hamill, Harrison Ford, Carrie Fisher, Chewbecca</p>
                    <p><a href="#" class="btn btn-primary" role="button">Find More</a></p>
                  </div>
                </div>
            </div>
            </div>
          </div>