          <div class="col-md-12">
          <h2>La classifica dei migliori film di TvgScanner</h2>

              <table id="example" class="table table-bordered">
                <thead>
                  <tr>
                    <th class="colora">Titoli</th>
                    <th class="colora">Sinossi</th>
                    <th class="colora">Locandina</th>
                  </tr>
                </thead>
                <tbody id="NewTitleFromTmdb">
                </tbody>
              </table>   
          </div>   
        </div>    